%footer.global-footer.text-center-sm
	%section
		.container
			.row
				.col-sm-3.margin-bottom
					%p
						%small
							Portrait: 
							%a{:href=>"#"}
								BrooksFreehill.com
				.col-sm-3.margin-bottom
					%p
						%small
							Big Sur: 
							%a{:href=>"#"}
								LucasGilman.com
				.col-sm-3.margin-bottom
					%p
						%small
							La Grave: 
							%a{:href=>"#"}
								TomWintermedia.com 
				.col-sm-3.margin-bottom
					%p.text-uppercase
						%small
							©2016 DANRCO LTD.