%footer.global-footer.text-center-sm
	%section
		.container
			.row
				.col-sm-3.margin-bottom
					%p.small.bold-font-name
						Placeholder
				.col-sm-3.margin-bottom
					%p.small.bold-font-name
						Placeholder
				.col-sm-3.margin-bottom
					%p.small.bold-font-name
						Placeholder
				.col-sm-3.margin-bottom
					%p.small.bold-font-name
						Placeholder