%nav.navbar.navbar-default.main-nav
	.container
		#global-nav
			%ul.nav.navbar-nav.navbar-right
				%li
					%a{:href => "#ssabout"} 
						About
				%li
					%a{:href => "#ssbio"} 
						Bio
				%li
					%a{:href => "#sscontact"} 
						Contact
