%section.narratives-hero
	.container
		.row
			.col-sm-4
				.padded
					.margin-bottom
						%i.fa.fa-circle.fa-4x{:style=>"color:#939393;"}
					%h3
						Nature & Physics
					%p
						Born in NorCal to outdoor/athletic parents. Camping in remote sierras a month after being born. Learned to ski at 4 and play in the waves at (5.) Vacations were either ocean centric, or mountain centric. Felt most at home, lost in the redwoods, on the snow covered steeps of the sierras, or in the cold currents off the coast of northern California 
					%ul
						%li
							As the younger brother of an all american…dan was drawn to pushing his own boundaries and playing with the bounds of gravity.
						%li
							Still looking toward what is possible, and how far can you push what you think is possible.  
			.col-sm-4
				.padded
					.margin-bottom
						%i.fa.fa-circle.fa-4x{:style=>"color:#939393;"}
					%h3
						Creative 
					%p
						Drawring 3 dimensionally at 4. Parents cultivated creativity. - sent to Nueva Day School. Drawing in sketch books to date Rarely satisfied with existing solutions.  
					%p
						lead to the path of professional creative Architecture, Advertising, Publishing, New Media/technology…awards…companies. Advise.  
					%p
						Witnessed the paradigm shifts 
					%ul
						%li
							Architecture - Drafting to CAD
						%li
							Photography - Film to Digital   
			.col-sm-4
				.padded
					.margin-bottom
						%i.fa.fa-circle.fa-4x{:style=>"color:#939393;"}
					%h3
						Intersection of Technology & The Human Experience 
					%p
						Raised in Silicon Valley
						%br
						Flickering green screens 
						%br
						Orange Volvo 240 wagon that matched the Orang Braun Drip Coffe Maker 
						%br
						Sea Ranch = Architecture 
						%br
						Environmental Design School - Focused on effect of computing on Design Process.
						Artifacts
						%br
						Naturally started working in UX
						%br
						Bring clarity 

