%section.believe.inverse-section
	.container
		.row
			.col-lg-12
				.padded
					%h3.margin-bottom
						You can believe whichever narrative you like. Here are a few more: 
					.margin-bottom
						%p
							Originally trained as an architect and environmental designer, Dan’s art direction and design work has gained international awards and recognition. Dan consults for clients ranging from SMB’s to Fortune 500 companies in a wide variety of industries including the publishing, CPG, food product, energy, medical, wireless and action-sports industries. 
							%em
								\- Tom Winter
					.margin-bottom
						%p
							Originally trained as an architect and environmental designer, 500 companies in a wide variety of industries including the publishing, CPG, food product, energy, medical, wireless and action-sports industries.
							%em
								\- Daniel Claussen
					.margin-bottom
						%p
							Originally trained as an architect and environmental designer international awards and recognition. Dan consults for clients ranging from SMB’s to Fortune 500 companies in a wide variety of industries including the publishing, CPG, food product, energy, medical, wireless and action-sports industries.
							%em
								\- Andrew Brandt
					.margin-bottom
						%p
							Originally trained as an architect and environmental designer international awards and recognition. Dan consults for clients ranging from SMB’s to Fortune 500 companies in a wide variety of industries including the publishing, wireless and action-sports industries. 
							%em
								\- Roberto Palomo
		.row
			.col-lg-12
				.padded
					%h3
						What’s your Narrative? 
					%form
						.row
							.col-sm-8
								.form-group
									%textarea.form-control.margin-bottom{:rows=>"4", :placeholder=>"Your Narrative"}
							.col-sm-4
								.form-group{:style=>"margin-bottom:24px;"}
									%input.form-control{:type=>"text", :placeholder=>"Name"}
								.form-group
									%input.form-control{:type=>"text", :placeholder=>"Email"}
								.pull-right
									%button.btn.btn-primary{:type=>"submit"}
										Send It

