%section.bio#ssbio
	.container
		.row
			.col-lg-12
				.padded
					%h3.margin-bottom
						Bio 
					.margin-bottom
						.row
							.col-sm-4
								%p
									Dan Richardson is an award winning creative technology executive with 18 years of experience creating and shaping consumer experiences, including 10 years launching and managing technology start-up businesses. In addition to working on his own projects, Dan creative directs and designs mobile and web applications for clients ranging from SMB’s to Fortune 500 companies.
							.col-sm-4
								%p
									Originally trained as an architect and environmental designer, Dan’s art direction and design work has gained some of the highest international awards and recognition. Dan consults in a wide variety of industries including publishing, CPG, food product, energy, medical, wireless and action-sports.
							.col-sm-4
								%p
									Dan is currently focused on developing and redefining ideas and experiences for technology oriented businesses. Dan has a particular interest in time mapping. How we all relate to time, how it limits us, how it enables us, and how it ties us all together no mater where we are on earth. To purposefully lose track of time is the ultimate luxury. When I get a moment...that’s where I go. 



