%section.dan-hero
	.container
		.row
			.col-sm-6
			.col-sm-6
				.padded
					%h4
						In response to hearing what I do, an old wise man said to me, 
						%strong
							“Well, that’s nice....if you believe your own narrative.” 
						He winked and gave me a sly smile. 
					%h4
						So, here are three narratives for you to choose from.