.notebook-container{
	@include transition-duration(.3s);
	&:hover{
		margin-top:-5px;
		@include breakpoint(sm) {
			margin-top:0;
		}
	}
	img.notebook{
		width:225px;
	  @include breakpoint(lg) {
	      width:185px;
	  }
	  @include breakpoint(md) {
	      width:140px;
	  }
	}
}


