;;;
"title": "Dan R Co",
"description": "Site Description"
;;;

=partial"home/dan"
=partial"home/about-1"
=partial"home/surf"
=partial"home/believe"
=partial"home/notebooks"
=partial"home/bio"
=partial"home/ski"
=partial"home/contact"